.footer {
  width: 100%;
  height: 50px;
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333;
}

.link {
  color: #58a6ff;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}
